<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/form/tests" />
        <option value="$PROJECT_DIR$/table/tests" />
        <option value="$PROJECT_DIR$/messages/tests" />
        <option value="$PROJECT_DIR$/core/tests" />
      </list>
    </option>
  </component>
</project>